<div id="content" class="site-content">
    <div class="page-header flex-middle">
        <div class="container">
            <div class="inner flex-middle">
            <h1 class="page-title">Our Instructors</h1>
        </div>
    </div>
</div>

<section class="about mb-5">
  <div class="container">
      <div class="section-title">
          <h2>Our Yoga Instructors/Mentors</h2>
          <div class="divider"> </div>
      </div>    
  </div>
</section>


<div class="container flex-1">
  <div>
    <div class="card" style="width: 18rem;">
      <img src="assets/image/gop.jpg" alt="...">
      <div class="card-body">
        <h5>Yoga Coach Prince</h5>
      </div>
    </div>
  </div>
  
  <div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab1" data-bs-toggle="tab" data-bs-target="#nav-home1" type="button" role="tab" aria-controls="nav-home1" aria-selected="true">Highlights</button>
        <button class="nav-link" id="nav-profile-tab1" data-bs-toggle="tab" data-bs-target="#nav-profile1" type="button" role="tab" aria-controls="nav-profile1" aria-selected="false">Experience</button>
      </div>
  </nav>
  
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home1" role="tabpanel" aria-labelledby="nav-home-tab1" tabindex="0">
        <br>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i>Celebrity Trainer, Learnt from Yoga Guru Swami Ramdev Ji.<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Certified from Patanjali Yogpeeth Trust, Haridwar.<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> PG Diploma in Yogic Science from Gurukul Kangri University, Haridwar.<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Master in Yogic Science from Uttarakhand Sanskrit University, Haridwar.<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> YTTC, Yoga Alliance USA from Rishikesh.<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Four times done "10 days Vipashyna Meditation course" others Meditation etc.<br></div></div>
        
      <div class="tab-pane fade" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile-tab1" tabindex="0">
        <br>
        <b>9+ Years of Experience.</b><br><br>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i>Kendriya Vidyalaya Mumbai and Delhi.<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> YTTC Teacher in Rishikesh Yoga Institute.<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Wellness centre & Yoga Studio Worked in Rishikesh, Noida, Delhi, Gurgaon and Mumbai etc.<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> CM Di Yogshala, Punjab Government.<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Yoga Therapist at Mumba Devi Government Hospital, Mumbai (Working).<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i>Meditator, Corporate Yoga, Yoga camp, Workshop, Home visit, Personal and Group Online class etc.<br></div></div>
    </div>
  </div>
</div>
<div class="divider"> </div>

<div class="container flex-1">
<div>
  <div class="card" style="width: 18rem;">
    <img src="assets/image/Aarti Sharma.jpg" alt="...">
    <div class="card-body">
      <h5>Aarti Sharma</h5>
    </div>
  </div>
</div>

<div>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Highlights</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Experience</button>
    </div>
</nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <br>
      <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Asian Gold Medalist of Yoga.<br></div>
      <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> B.Ed Yoga from Panjab University Chandigarh.<br></div>
      <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Master in Yogic Science from Uttarakhand Sanskrit University, Haridwar.<br></div></div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <br>
      <b>5+ Years of Experience.</b><br><br>
      <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Jawahar Navodaya Vidyalaya, Chandigarh. <br></div>
      <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Officer Trainees held at LBSNAA, Mussoorie.<br></div>
      <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Yoga Images in A textbook of Yoga skill Edu., for class 11th & 12th, CBSE.<br></div>
      <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Home visit class, Online Group class, Personal class etc.<br></div>
    </div>
  </div>
</div>
</div> 
<div class="divider"> </div>

<div class="container flex-1">
  <div>
    <div class="card" style="width: 18rem;">
      <img src="assets/image/Shweta Kushwaha.jpg" alt="...">
      <div class="card-body">
        <h5>Shweta Kushwaha
        </h5>
      </div>
    </div>
  </div>
  
  <div>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab2" data-bs-toggle="tab" data-bs-target="#nav-home2" type="button" role="tab" aria-controls="nav-home2" aria-selected="true">Highlights</button>
        <button class="nav-link" id="nav-profile-tab2" data-bs-toggle="tab" data-bs-target="#nav-profile2" type="button" role="tab" aria-controls="nav-profile2" aria-selected="false">Experience</button>
      </div>
  </nav>
  
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home2" role="tabpane2" aria-labelledby="nav-home-tab2" tabindex="0">
        <br>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Master in Yoga from Kumaun University, Uttrakhand, UGC NET Qualified in Yoga.<br></div>
       </div>
        
      <div class="tab-pane fade" id="nav-profile2" role="tabpane2" aria-labelledby="nav-profile-tab2" tabindex="">
        <br>
        <b>5+ Years of Experience.</b><br><br>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Kendriya Vidyalaya, Khatima<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> NCC camp, <br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Health and Wellness centre Uttrakhand.<br></div>
        <div class="flex-3"><i class="fa-solid fa-check" style="color: #36a181;"></i> Home visit class, Online Group class, Personal class etc.<br></div></div>
    </div>
  </div>
</div>