
<div class="bg">
    <div class="container">
        <div class="content">
            <div class="text-section">
                <h1>Embracing Nature's Bounty</h1>
                <h2>Through Divine Yoga</h2>
                <p>While the word 'Go' can also mean 'light,' the name 'Gomukh' likely refers to the shape of the pose, 
                resembling a cow's face.
                <br>
                <br>
                The legs and arms in this seated posture create a visual likeness to a cow's head, with the thighs and calves forming the wide end and the arms resembling the ears</p>
                <div class="icons">
                    <div class="icon">
                        <img src="assets/image/images.png" alt="Alternative Medicines">
                        <p>Alternative Medicines</p>
                    </div>
                    <div class="icon">
                        <img src="assets/image/10476503.png" alt="For Good Health">
                        <p>For Good Health</p>
                    </div>
                    <div class="icon">
                        <img src="assets/image/6381912.png" alt="Healthy Mind & Body">
                        <p>Healthy Mind & Body</p>
                    </div>
                </div>
            </div>
            <div class="image-section">
                <img src="/assets/image/pose.png" alt="Yoga Pose">
            </div>
        </div>
    </div>

</div>
