<div id="content" class="site-content">
    <div class="page-header flex-middle">
        <div class="container">
            <div class="inner flex-middle">
            <h1 class="page-title">About Us</h1>
        </div>
    </div>
</div>

<section id="about" class="about mb-5">
    <div class="container">

        <div class="section-title">
            <h2>About YOGKIT </h2>
            <div class="divider"> </div>

            <p>Yogkit was established with the mission to serve individuals by imparting the numerous benefits of yoga. 
                Its primary aim is to help people harness the practice of yoga to achieve optimal health and well-being. 
                By promoting yoga, Yogkit seeks to unveil the secrets to maintaining good health and preventing illness. 
                The program emphasizes holistic wellness, focusing on keeping all parts of the body healthy and strengthening mental resilience..</p>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                    The approach taken by Yogkit is designed to ensure that practitioners can lead lives free from sickness, thereby enhancing their physical and mental capabilities. 
                    This, in turn, helps individuals to perform better and achieve success in all areas of life, 
                    whether personal or professional.
                    Yoga's benefits, 
                    including improved flexibility, strength, balance, and mental clarity, are integral to this goal.
                </p>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    <img src="assets/image/logo.png" alt="" width='auto'>
                </p>
            </div>
        </div>

    </div>
</section>


<section id="about" class="about mb-5">
    <div class="container">
        <div class="section-title">
            <h2>Our Vision and Mission</h2>
            <div class="divider"> </div>
        </div>    
    </div>
</section>

<div class="container mb-5">
<div class="row ">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Vision</h2>
          <p class="card-text">To cultivate the best version of humanity through the practice of yoga.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Mission</h2>
          <p class="card-text">With the vision of YOGKIT to foster a supportive community dedicated to health and well-being, our mission is to develop a robust and healthy younger generation. We strive to incorporate yoga into everyone's daily routine, despite the demands of modern life, so that individuals can maintain their resilience and joy even in the most challenging circumstances.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<section id="about" class="about mb-5">
    <div class="container">
        <div class="section-title">
            <h2>Why Choose YOGKIT?</h2>
            <div class="divider"> </div>
        </div>    
    </div>
</section>


<div class="container mb-5">
    <div class="row ">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Yogkit: For Holistic Health and Transformation</h2>
              <p class="card-text">Unleash Your Potential with Yogkit: Follow the Lead of Prominent Figures
                Seeking holistic health, personal transformation, and a path to progress? Look no further than Yogkit, the choice of prominent celebrities and esteemed individuals. Join them in their journey towards a fulfilling life and discover how Yogkit can empower you to reach your full potential.</p>
            </div>
          </div>
        </div>
      </div>
 </div>