:host {
  display: block;
  overflow-x: hidden;
}

.cta,
.about-section {
  padding: 20px;
}

.rounded-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-section img {
  max-width: 100%;
  height: auto;
}

.cta {
  background: url("/assets/image/demoheader1.jpg") center center no-repeat;
  background-size: cover;
  padding: 120px 10px;
  margin-bottom: 55px;
}

.cta h1 {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .cta {
    background-attachment: fixed;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #009961;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #257bde;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #257bde;
  text-decoration: none;
}

.about .content .btn-learn-more:hover {
  background: #257bde;
  color: #fff;
  text-decoration: none;
}