
/*--------------------------------------------------------------
## Page Header
--------------------------------------------------------------*/
.page-header {
  width: 100%;
  min-height: 350px;
  color: #43baff;
  font-weight: 500;
  background: #ffffff center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.page-header .page-title {
  color: #121212;
  margin-bottom: 0;
  flex: 1;
  padding: 50px 20px 10px 0;
}

.page-header .breadcrumbs {
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 800;
}
.page-header .breadcrumbs li {
  display: inline-block;
  color: #000000;
}
.page-header .breadcrumbs li:before {
  content: "ÔÅã";
  font-family: "FontAwesome";
  font-size: 7px;
  color: #43baff;
  margin: -3px 8px 0;
  display: inline-block;
  vertical-align: middle;
}
.page-header .breadcrumbs li:first-child:before {
  display: none;
}
.page-header .breadcrumbs li a {
  color: #040404;
}
.page-header .breadcrumbs li a:hover {
  color: #101010;
}

@media (max-width: 992px) {
  .page-header .inner {
    display: block;
  }
  .page-header {
      margin-top: 50px;
    }
}
@media (max-width: 767px) {
  .page-header .container {
    width: 100%;
  }
  .page-header .page-title {
    font-size: 25px;
  }
  .page-header .breadcrumbs {
    font-size: 12px;
  }
  .page-header {
      margin-top: 50px;
  }
  .page-header .page-title{
    padding: 0px;
  }  
}
@media (max-width: 600px) {
  .page-header {
    margin-top: 50px;
    min-height: 200px;
    padding: 40px 0;
  }
  .page-header .page-title {
    font-size: 20px;
    font-weight: bold;
  }
}
.page-header {
  background-image: url("/assets/image/demoheader.jpg");
}
.section-title{
  margin-top: 20px;
  h2{
    font-family: "Montserrat", sans-serif !important;
    font-size: 28px;
    font-weight: bold;
  }
}

.container{
p{
  font-family: "Montserrat", sans-serif !important;
  font-size: 15px;
  b{
    font-size: 18px;
  }
}

}
.divider{
  margin: 20px 30px 20px 30px;
  width: auto;
  height: 5px;
  border-style: double;
  opacity: 0.4;
  border-color: #037b63;
}

.cta,
.about-section {
  padding: 20px;
}

.rounded-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-section img {
  max-width: 100%;
  height: auto;
}

.cta {
  background: url("/assets/image/demoheader1.jpg") center center no-repeat;
  background-size: cover;
  padding: 120px 10px;
  margin-bottom: 55px;
}

.cta h1 {
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .cta {
    background-attachment: fixed;
  }
}

@media (max-width:997px) {
  .cta {
    background-attachment: fixed;

  }
  .content{
    img{
      width: 250px;
    }
  }
  .about{
    padding-left: 20px;
    padding-right: 20px;
    }

}


@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #009961;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #257bde;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #257bde;
  text-decoration: none;
}

.about .content .btn-learn-more:hover {
  background: #257bde;
  color: #fff;
  text-decoration: none;
}

.card{
  height: 300px;
}

.card-title{
  font-family: "Montserrat", sans-serif !important;
  font-size: 20px;
  font-weight: bold;
  color: #009961;
  text-decoration: underline dotted #009961 2px;
  text-underline-offset: 5px;
}
.card-body{
  background-image: url('/assets/image/gir.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card-text{
  padding-top: 20px;
}
