<div id="content" class="site-content">
    <div class="page-header flex-middle">
        <div class="container">
            <div class="inner flex-middle">
            <h1 class="page-title">Home Yoga Service</h1>
        </div>
    </div>
</div>

<div class="mt-20"></div>
<div class="space-20"></div>

<section class="container">
    <div class="text-line">
        Experience the ultimate in yoga convenience with YOGKIT 's personalized home visit sessions, 
        <br>
        led by our experienced and professional trainers
    </div>
</section>

<div class="space-20"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1000" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Yoga Classes</h5>
                        <p>Trial Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Trial Yoga Class</h2>
                </div>
                <div class="space-5"></div>
                <p>Unleash the transformative power of yoga with YOGKIT 's free trial class. Join us for 60 minutes of mindful movement and deep relaxation. Reserve your spot now and embark on your yoga journey!</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Allowed Candidates</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Home visit</td>
                        <td>60 Mins</td>
                        <td>1</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="yoga-btn" >Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>



<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1360" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Yoga Classes</h5>
                        <p>Basic Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Basic Yoga Class</h2>
                </div>
                <div class="space-5"></div>
                <p>Fit yoga into your busy life with YOGKIT's flexible Basic Yoga Program. Attend 3 classes per week on alternate days (Mon, Wed & Fri or Tue, Thu & Sat) and experience the transformative power of gentle yoga, breathwork, and meditation.</p>      
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Allowed Candidates</th>
                        <th scope="col">Week Days</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Home visit</td>
                        <td>60 Mins</td>
                        <td>1</td>
                        <td>3 Days (Mon, Wed & Fri or Tue, Thu & Sat)</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="yoga-btn" >Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1460" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Yoga Classes</h5>
                        <p>Beginner Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Beginner Yoga Class</h2>
                </div>
                <div class="space-5"></div>
                <p>Fit yoga into your busy life with YOGKIT's flexible Beginner Yoga Program. Attend 3 classes per week on alternate days (Mon, Wed & Fri or Tue, Thu & Sat) and experience the transformative power of gentle yoga, breathwork, and meditation.</p>      
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Allowed Candidates</th>
                        <th scope="col">Week Days</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Home visit</td>
                        <td>60 Mins</td>
                        <td>1</td>
                        <td>3 Days (Mon, Wed & Fri or Tue, Thu & Sat)</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="yoga-btn" >Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1530" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Yoga Classes</h5>
                        <p>Plus Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Plus Yoga Class</h2>
                </div>
                <div class="space-5"></div>
                <p>Transform your weekdays with YOGKIT's Week 5 Days Yoga Package. Immerse yourself in 20 classes (Monday-Friday) of rejuvenating flows, improved flexibility, and enhanced mindfulness.</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Allowed Candidates</th>
                        <th scope="col">Week Days</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Home visit</td>
                        <td>60 Mins</td>
                        <td>1</td>
                        <td>5 Days (Mon - Fri)</td>
                      </tr>
                    </tbody>
                  </table>                  
                  <button type="button" class="yoga-btn" >Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1230" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Yoga Classes</h5>
                        <p>Premium Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Premium Yoga Class</h2>
                </div>
                <div class="space-5"></div>
                <p>Unleash your full potential with YOGKIT's 6-Day Yoga Class. Dive deep into transformative practices, energize your body and mind, and find inner balance. Join us for a complete mind-body connection journey with 24 classes per month.</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Allowed Candidates</th>
                        <th scope="col">Week Days</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Home visit</td>
                        <td>60 Mins</td>
                        <td>1</td>
                        <td>6 Days (Mon - Sat)</td>
                      </tr>
                    </tbody>
                  </table>                  
                  <button type="button" class="yoga-btn" >Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1230" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Yoga Classes</h5>
                        <p>Weekend Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Weekend Yoga Class</h2>
                </div>
                <div class="space-5"></div>
                <p>Unwind and recharge with YOGKIT 's Weekend Yoga Package. Enjoy 8 blissful yoga sessions (Saturday & Sunday) to rejuvenate your mind, body, and spirit. Find inner peace and strength with a transformative journey.</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Allowed Candidates</th>
                        <th scope="col">Week Days</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Home visit</td>
                        <td>60 Mins</td>
                        <td>1</td>
                        <td>2 Days (Sat - Sun)</td>
                      </tr>
                    </tbody>
                  </table>                  
                  <button type="button" class="yoga-btn" >Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>