<div id="content" class="site-content">
    <div class="page-header flex-middle">
        <div class="container">
            <div class="inner flex-middle">
            <h1 class="page-title">Corporate Yoga</h1>
        </div>
    </div>
</div>

<div class="mt-20"></div>
<div class="space-20"></div>

<section class="container">
    <div class="text-line">
        Experience the ultimate in yoga convenience with YOGKIT 's personalized home visit sessions, 
        <br>
        led by our experienced and professional trainers
    </div>
</section>

<div class="space-20"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1000" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Basic Corporate</h5>
                        <p>Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Basic Corporate Yoga Class</h2>
                </div>
                <div class="space-5"></div>
                <p>Unlock a healthier, happier workplace with YOGKIT's Corporate Yoga. Our <b>4-session monthly package</b> features expert-led yoga classes tailored to your team's needs, boosting productivity and fostering a sense of harmony.</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Allowed Capacity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Basic Corporate Yoga</td>
                        <td>60 Mins</td>
                        <td>20</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="yoga-btn" >Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>



<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1360" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Basic Corporate Yoga Plus</h5>
                        <p>Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Basic Corporate Yoga Plus</h2>
                </div>
                <div class="space-5"></div>
                <p>Transform your workplace with YOGKIT's <b>2-sessions-per-week Corporate Yoga Package</b>. Eight expert-led sessions each month empower your team to boost productivity, manage stress, and build stronger connections. Experience the difference. Book your sessions today!</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Allowed Capacity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Basic Corporate Yoga Plus</td>
                        <td>60 Mins</td>
                        <td>15</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="yoga-btn" >Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1460" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Premium Corporate Yoga</h5>
                        <p>Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Premium Corporate Yoga</h2>
                </div>
                <div class="space-5"></div>
                <p>Cultivate a thriving workplace with YOGKIT 's <b>3-session-per-week Corporate Yoga Package</b>. 12 expert-led sessions each month empower your team to boost productivity, sharpen focus, and build a happier, healthier team. Invest in well-being and experience the difference.</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Allowed Capacity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Premium Corporate Yoga</td>
                        <td>60 Mins</td>
                        <td>15</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="yoga-btn" >Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1530" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Premium Corporate Yoga Plus</h5>
                        <p>Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Premium Corporate Yoga Plus</h2>
                </div>
                <div class="space-5"></div>
                <p>Thrive with daily wellness: YOGKIT 's <b>24-session Corporate Yoga Package</b>. Experience the transformative power of six expert-led sessions each week, boosting productivity, reducing stress, and fostering a connected, thriving team. Invest in your team's well-being and see the difference.</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Allowed Capacity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Premium Corporate Yoga Plus</td>
                        <td>60 Mins</td>
                        <td>15</td>
                      </tr>
                    </tbody>
                  </table>                  
                  <button type="button" class="yoga-btn" >Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>

