<div id="content" class="site-content">
    <div class="page-header flex-middle">
        <div class="container">
            <div class="inner flex-middle">
            <h1 class="page-title">Corporate Yoga</h1>
        </div>
    </div>
</div>

<div class="mt-20"></div>
<div class="space-20"></div>

<section class="container">
    <div class="text-line">
        Experience the ultimate in yoga convenience with YOGKIT 's personalized Corporate Yoga sessions, 
        <br>
        led by our experienced and professional trainers
    </div>
</section>

<div class="space-20"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1000" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Silver Corporate Yoga</h5>
                        <p>Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Silver Corporate Yoga</h2>
                </div>
                <div class="space-5"></div>
                <p>Unlock a healthier, happier workplace with YOGKIT's Corporate Yoga. Our <b>4-session monthly package</b> features expert-led yoga classes tailored to your team's needs, boosting productivity and fostering a sense of harmony.</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Silver Corporate Yoga</td>
                        <td>60 Mins</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" (click)="updateForm('Silver Corporate Yoga')" class="yoga-btn" data-bs-toggle="modal" data-bs-target="#corporateYogaModal">Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>



<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1360" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Gold Corporate Yoga</h5>
                        <p>Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Gold Corporate Yoga</h2>
                </div>
                <div class="space-5"></div>
                <p>Transform your workplace with YOGKIT's <b>2-sessions-per-week Corporate Yoga Package</b>. Eight expert-led sessions each month empower your team to boost productivity, manage stress, and build stronger connections. Experience the difference. Book your sessions today!</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Gold Corporate Yoga</td>
                        <td>60 Mins</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" (click)="updateForm('Gold Corporate Yoga')" class="yoga-btn" data-bs-toggle="modal" data-bs-target="#corporateYogaModal">Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1460" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Platinum Corporate Yoga</h5>
                        <p>Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Platinum Corporate Yoga</h2>
                </div>
                <div class="space-5"></div>
                <p>Cultivate a thriving workplace with YOGKIT 's <b>3-session-per-week Corporate Yoga Package</b>. 12 expert-led sessions each month empower your team to boost productivity, sharpen focus, and build a happier, healthier team. Invest in well-being and experience the difference.</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Platinum Corporate Yoga</td>
                        <td>60 Mins</td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" (click)="updateForm('Platinum Corporate Yoga')" class="yoga-btn" data-bs-toggle="modal" data-bs-target="#corporateYogaModal">Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0">
            <section>
                <div class="container">
                    <div class="misc-box fullstackbg1">
                        <div class="ot-counter">
                            <div>
                                <span class="num" data-to="1530" data-time="2000">0</span>
                                <span>+</span>
                            </div>
                        </div>
                        <h5>Premium Corporate Yoga </h5>
                        <p>Yoga Class</p>
                        <div class="space-40"></div>
                        <br>
                        <br>
                    </div>
                 </div>
            </section>

        </div>
        <div class="pad-30 col-lg-8 align-self-center">
            <div class="right-about-v4">
                <div class="ot-heading">
                    <h2 class="graddient main-heading">Premium Corporate Yoga </h2>
                </div>
                <div class="space-5"></div>
                <p>Thrive with daily wellness: YOGKIT 's <b>24-session Corporate Yoga Package</b>. Experience the transformative power of six expert-led sessions each week, boosting productivity, reducing stress, and fostering a connected, thriving team. Invest in your team's well-being and see the difference.</p>
                <div class="dis">Note:- Contact us for pricing information.
                </div>
                <table class="table table-success table-striped ">
                    <thead>
                      <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Duration</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Premium Corporate Yoga Plus</td>
                        <td>60 Mins</td>
                      </tr>
                    </tbody>
                  </table>                  
                  <button type="button" (click)="updateForm('Premium Corporate Yoga')" class="yoga-btn" data-bs-toggle="modal" data-bs-target="#corporateYogaModal">Book now</button>
            </div>
        </div>
    </div>
</div>
<div class="divider"> </div>


<div class="modal fade" id="corporateYogaModal" tabindex="-1" aria-labelledby="corporateYogaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="corporateYogaModalLabel">Book Now</h1>
          <button type="button" id="close-modal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="row g-3" [formGroup]="bookingForm">
                <div class="col-md-12">
                    <input type="text" class="form-control" formControlName="CompanyName" id="CompanyName" placeholder="Organisation/Company Name" required>
                </div>
                <div class="col-4">
                    <select class="form-select" formControlName="isd" aria-label="multiple select example">
                        <option value="+91" selected>+91</option>
                        <option value="+1">+1</option>
                        <option value="+44">+44</option>
                        <option value="+61">+61</option>
                        <option value="+81">+81</option>
                        <option value="+49">+49</option>
                        <option value="+86">+86</option>
                        <option value="+33">+33</option>
                        <option value="+39">+39</option>
                        <option value="+7">+7</option>
                        <option value="+34">+34</option>
                        <option value="+55">+55</option>
                        <option value="+27">+27</option>
                        <option value="+82">+82</option>
                        <option value="+46">+46</option>
                        <option value="+41">+41</option>
                        <option value="+31">+31</option>
                        <option value="+32">+32</option>
                        <option value="+47">+47</option>
                        <option value="+48">+48</option>
                        <option value="+351">+351</option>
                        <option value="+20">+20</option>
                        <option value="+62">+62</option>
                        <option value="+92">+92</option>
                     </select>
                </div>
                <div class="col-8">
                  <input type="number" class="form-control" formControlName="phoneNumber" id="inputPhone" placeholder="Whatsapp Phone Number" required>
                </div>
                <div class="col-md-12">
                  <input type="email" class="form-control" formControlName="email" id="inputEmail4" placeholder="Email Address" required>
                </div>
                <div class="col-12">
                  <input type="text" class="form-control" formControlName="add1" id="inputAddress" placeholder="Office Address" required>
                </div>
                <div class="col-12">
                    <input type="text" class="form-control" formControlName="name" id="name" placeholder="Booking Person Name" required>
                </div>
                <div class="col-12">
                    <input type="text" disabled class="form-control" [value]="yogaType"  id="yogaCourse" required >
                </div>    
                <div class="col-2 align">
                    Mode 
                </div>
                <div class="col-10">
                  <select class="form-select" formControlName="mode" aria-label="multiple select example" required="">
                     <option value="Offline" selected>Offline</option>
                     <option value="Online">Online</option>                        
                  </select> 
                </div>
                <div class="col-12">
                    <textarea  type="text" class="form-control" formControlName="message" id="message" style="height: 100px" placeholder="Write your message" required></textarea>
                </div>

                <div class="col-12">
                  <button [disabled]="!bookingForm.valid" type="submit" (click)="submit()" class="yoga-btn">Submit</button>
                </div>
              </form>
        </div>
      </div>
    </div>
</div>