<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="my-5">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4 text-white flex"
               style="background-color: #545957"
               >
        <!-- Left -->
        <div class="flex mb-10">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="https://youtube.com/@yog10?si=rONxdbwavnMfmivO" class="text-white me-4">
            <i class="fa-brands fa-youtube"></i>
          </a>
          <a href="https://www.facebook.com/share/LwFDrekKu1PtGjhA/?mibextid=qi2Omg" class="text-white me-4">
            <i class="fa-brands fa-facebook"></i>          
          </a>
          <a href="" class="text-white me-4">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
          <a href="https://www.instagram.com/yog_kit?igsh=MXN6aDdqZGV4cWJ0cw==" class="text-white me-4">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ">
              <!-- Content -->
              <div class="alc" style="display: flex;flex-direction: column; ">
                 <img src="assets/image/logo.png" alt="" width="200px">
<!--               <h6 class="text-uppercase fw-bold">YOGKIT</h6>
 -->          <hr class="mb-4 mt-0 d-inline-block mx-auto"style="width: 0px; background-color: #7c4dff; height: 0px"
                  />
              </div>
             
              <p>
                YOGKIT encourages the integrated development of the physical, mental, and spiritual aspects of our being.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Yoga Services</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a (click)="navigate('home-yoga')"class="text-dark">Home Yoga</a>
              </p>
              <p>
                <a (click)="navigate('corporate-yoga')" class="text-dark">Corporate Yoga</a>
              </p>
              <p>
                <a (click)="navigate('online-yoga')" class="text-dark">Online Yoga</a>
              </p>
              <p>
                <a (click)="navigate('meditation')" class="text-dark">Meditation</a>
              </p>
              <p>
                <a (click)="navigate('threapy-yoga')" class="text-dark">Yoga Therapy</a>
              </p>
            </div>
            <!-- Grid column -->
  

            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-envelope mr-3"></i><a class="tel-no" href="mailto:yogkit1@gmail.com"> yogkit1@gmail.com</a></p>
              <p><i class="fas fa-phone mr-3"><a class="tel-no" href="tel:+917217638088"> +917217638088</a></i>
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <section class="container">
        <div class="col-md-12 text-center">
          <div class="flex">
            <div class="flex-1">
              <i class="fas fa-map-marker-alt fa-2x mb-3"></i>
              <h5>Locate Us</h5>
            </div >
            <p class="flex-2">Mumbai | Delhi | Pune | South Mumbai | Thane | Navi Mumbai | Delhi-NCR | Noida | Greater Noida | Gurgaon | Faridabad | Bangalore | Hyderabad | Chennai | Kolkata | Ahmedabad </p>
            </div>
             </div>
      </section>
      
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright:
        <a class="text-dark" href="https://YOGKIT .com/"
           >YOGKIT .com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->