<nav class="navbar navbar-expand-lg bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img title="logo" src="/assets/image/logo.png" width="180px"/>
        <a class="tel-no" href="tel:+917217638088"><i class="fa fa-phone my-float"></i> +917217638088</a>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" (click)="navigate('')" aria-current="page" >Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Yoga Session
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"  (click)="navigate('home-yoga')">Home Yoga </a></li>
              <li><a class="dropdown-item"  (click)="navigate('corporate-yoga')">Corporate Yoga </a></li>
              <li><a class="dropdown-item"  (click)="navigate('online-yoga')">Online Yoga </a></li>
              <li><a class="dropdown-item"  (click)="navigate('threapy-yoga')">Yoga Therapy </a></li>
              <li><a class="dropdown-item"  (click)="navigate('meditation')">Meditation </a></li>
              <!-- <li><a class="dropdown-item"  (click)="navigate('advance-yoga')">Advance Yoga </a></li>--> 
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigate('mentors')">Mentors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="navigate('about')">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)="navigate('contact')">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>