<div class="container">
    <div class="row1">
       <div>
        <div class="card" style="width: 18rem;">
            <img src="assets/image/gop.jpg"  (click)="navigate()" class="card-img-top" alt="...">
            <div class="card-body">
              <h5>Yoga Coach Prince</h5>
              <p class="card-text"><em>Celebrity Trainer, Learnt from Yoga Guru Swami Ramdev Ji.<br><br>
                </em></p>
            </div>
          </div>
       </div>
       <div>
        <div class="card" style="width: 18rem">
            <img src="assets/image/Aarti Sharma.jpg"  (click)="navigate()" class="card-img-top" alt="...">
            <div class="card-body">
              <h5>Aarti Sharma</h5>
              <p class="card-text"><em>Asian Gold Medalist of Yoga.<br>
                B.Ed Yoga from Panjab University Chandigarh.<br>                
                </em></p>
            </div>
          </div>
       </div>       
       <div>
        <div class="card" style="width: 18rem;">
            <img src="assets/image/Shweta Kushwaha.jpg"  (click)="navigate()" class="card-img-top" alt="...">
            <div class="card-body">
                <h5>Shweta Kushwaha</h5>
              <p class="card-text"><em>Master in Yoga from Kumaun University, Uttrakhand, UGC NET Qualified in Yoga</em></p>
            </div>
          </div>
       </div>
    </div>

    <div class="container row3">
        <button type="button" (click)="navigate()" class="yoga-btn ">View our Yoga Instructors Details</button>
    </div>
       
</div>


